<!DOCTYPE html>
<html>
 
  <head>
    <title><%= full_title(yield(:title))%></title>
<!-- ↓CSSスタイルシートの読み込み -->
    <%= render'layouts/rails_default'%> 
<!-- #Js、バージョン違いのサポート  -->
    <%= render 'layouts/shim' %>  
  </head>
  
  <body>
<!-- #ヘッダー読み込み -->
    <%= render 'layouts/header' %>
   　<div class="container">
      <%= yield %>
<!-- #フッター読み込み-->
      <%= render 'layouts/footer' %>
      </div>
  </body>

</html>
